a.club-nav {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: transparent;
  align-items: center;
  column-gap: 15px;
  padding: 20px 25px;
  transition: transform 0.3s ease;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

a.club-nav {
  position: relative;
  overflow: hidden;
}

a.club-nav:hover, a.club-nav:active {
  transform: scale(1.1);
}

a.club-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--club-color);
  transition: left 0.3s ease;
  z-index: -1;
}

a.club-nav:hover::before, a.club-nav:active::before {
  left: 0;
}

a.inverse.club-nav:hover, a.inverse.club-nav:active {
  color: #333333;
}

.club-nav-logo {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-nav-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.club-nav:hover {
  transform: scale(1.05);
}
