.club-card-stat {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 25px;
  align-self: start;
}
.club-card-stat-intro {
  margin-bottom: 10px;
  display: flex;
}
.club-card-stat-label {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 1rem;
}
.club-card-stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.club-card-stat-value {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.club-card-stat-value-main {
  font-weight: 500;
  font-size: 1.5rem;
}

.club-card-stat-value-suffix {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  padding-bottom: 2px;
}
.club-card-stat-rank {
  margin-left: auto;
  font-weight: bold;
}
.inverse .club-card-stat-value-suffix,
.inverse .club-card-stat-label {
  color: rgba(51, 51, 51, 0.7);
}

.inverse .club-card-stat {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.club-card-stat-rank-hashtag {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 1px;
}

.inverse .club-card-stat-rank-hashtag {
  color: rgba(51, 51, 51, 0.7);
}
