.club-card-stat {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 25px;
  align-self: start;
}
.club-card-stat-intro {
  margin-bottom: 10px;
  display: flex;
}
.club-card-stat-label {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 1rem;
}
.club-card-stat-body {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 6px;
}
.club-card-stat-value {
  font-weight: 500;
  font-size: 1.5rem;
}
.club-card-stat-suffix {
  align-self: end;
  padding-bottom: 2px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}
.club-card-stat-rank {
  margin-left: auto;
  font-weight: bold;
}
.inverse .club-card-stat-suffix,
.inverse .club-card-stat-label {
  color: rgba(51, 51, 51, 0.7);
}
.inverse .club-card-stat {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
